<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>ZDBPrint</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>downloadExcel</servlet-name>
    <servlet-class>com.slic.servlet.DownloadExcelServlet_bak</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>downloadExcel1</servlet-name>
    <servlet-class>com.slic.servlet.ExportExcelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>downloadExcel</servlet-name>
    <url-pattern>/downloadExcel</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>downloadExcel1</servlet-name>
    <url-pattern>/downloadExcel1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>formatPattern</servlet-name>
    <servlet-class>com.slic.servlet.TemplateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>formatPattern</servlet-name>
    <url-pattern>/formatPattern</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>downloadTemplateServlet</servlet-name>
    <servlet-class>com.slic.servlet.DownloadTemplateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>downloadTemplateServlet</servlet-name>
    <url-pattern>/downloadTemplateServlet</url-pattern>
  </servlet-mapping>
</web-app>